{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block extended_content %}
    <div id="container" class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header" style="background-color: rgba(0, 0, 0, 0);">
                <div class="row align-items-center" style="justify-content: center;">
                    <div class="col-auto">
                        <figure class="figure text-center">

                            <figcaption style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <h1 style="margin-top: 10px; margin-bottom: 0; white-space: nowrap; font-size: 2rem; font-weight: 400;">
                                    <span>{{ user.username }}</span></h1>

                                <h2 style="margin:2px; font-size: .85714286em;"><span>Пользователь</span><br></h2>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">Основная информация</h5>

                <table class="table" style="margin-left: 0.25rem">
                    <tbody>
                    <tr>
                        <td     >Имя</td>
                        <td class="aligned"> {{ user.first_name }}</td>
                    </tr>
                     <tr>
                        <td >Фамилия</td>
                        <td class="aligned"> {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td >Уровень доступа</td>
                        <td class="aligned"> {{ syn }}</td>
                    </tr>
                    <tr>
                        <td >Группа</td>
                        <td class="aligned"> {{ user.profile.group}}</td>
                    </tr>
                    <tr>
                        <td>Дата регистрации</td>
                        <td class="aligned">{{ user.date_joined }}</td>
                    </tr>

                    </tbody>

                </table>
                {% if permission == True %}
                    <div class="text-center mt-4"><a href="/user/{{user.id}}/settings">Настройки</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
