{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block extended_content %}
    <div id="container" class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header" style="background-color: rgba(0, 0, 0, 0);">
                {% if request.user.is_superuser %}
                <div style="float: right;">
                    <a href="{{user.id}}/settings" class="btn btn-primary stretched-link">Настройки</a>
                </div>
                {% endif %}
                <div class="row align-items-center" style="justify-content: center;">
                    <div class="col-auto">
                        
                        <figure class="figure text-center">

                            <figcaption style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <h1 style="margin-top: 10px; margin-bottom: 0; white-space: nowrap; font-size: 2rem; font-weight: 400;">
                                    <span>{{ user.username }}</span></h1>

                                <h2 style="margin:2px; font-size: .85714286em;"><span>Пользователь</span><br></h2>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">Основная информация</h5>

                <table class="table" style="margin-left: 0.25rem">
                    <tbody>
                    <tr>
                        <td     >Имя</td>
                        <td class="aligned"> {{ user.first_name }}</td>
                    </tr>
                     <tr>
                        <td >Фамилия</td>
                        <td class="aligned"> {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td >Уровень доступа</td>
                        {% if user.is_superuser %}
                        <td class="aligned"> Администратор</td>
                        {% elif user.is_staff %}
                        <td class="aligned"> Преподаватель</td>
                        {% else %}
                        <td class="aligned"> Ученик </td>
                        {% endif %}
                    </tr>  
                    <tr>
                        <td>Дата регистрации</td>
                        <td class="aligned">{{ user.date_joined }}</td>
                    </tr>

                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
