<a href="/course/{{course.id}}" class="btn btn-light col" style="color:black;margin-bottom:10px;">Назад в
    курс</a>
<a href="/course/{{course.id}}/{{lesson.id}}" class="btn btn-light col" style="color:black;margin-bottom:10px;">Назад к уроку</a>
<div style="height:220px; border:1px solid black; padding-top:10px; padding:15px; border-radius:10px;">
  <div style="text-align: right; margin-top: 20px;">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#settingModal">
      &#9881;
    </button>
 </div> 
   <div style="border-radius:100%;background:grey;height:50px;width:50px;"></div>
   <div></div>
   <div style="margin-top:-50px;margin-left:70px;font-size:13px;">Преподаватель	
       <div style="font-size:20px;">{{lesson.teacher}}</div>
   </div>
   <div style="margin-top:20px;"><small>Тема: </small>{{lesson.name}} 
    <div><small>Дата: </small>{{lesson.date}}</div>
  </div>

</div>
{%for block in blocks %}
{% if block.local == 1 %}
<div style="border:1px solid #AFEEEE; margin-top:30px; border-radius:10px;padding-bottom:20px;background:#fafafa;">
   <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}">
       <div style="background:#ADD8E6;color:black;padding-top:10px;border-radius:10px 10px 0px 0px;padding-left:20px;padding-bottom:10px;">
           <div style="border-radius:100%;background:#447f91;width:10px;height:10px;margin-top:10px;"></div>
           <div style="margin-top:-17px;margin-left:20px;color:#447f91;">{{block.name}}</div>
           <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}/delete_block">&#9746;</a>
           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#block-setting-Modal{{ block.id }}">
            &#9881;
          </button>
       </div>
       
       
   </a>
   <div style="margin:10px;">
       <ol style="margin-left:-10px;">
       {%for task in block.tasks.all%}
           <li>{{task.name}}</li>
       {% endfor %}
       </ol>
   </div>
   <button style="padding-left:10px;font-size:12px;color:#447f91;" data-toggle="modal" data-target="#added-task-Modal{{ block.id }}">Создать задачу</button>
</div>
{% elif block.local == 0 %}
<div style="border:1px solid #a8ffc1; margin-top:30px; border-radius:10px;padding-bottom:20px;background:#fafafa;">
   <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}">
       <div
               style="background:#90EE90;color:black;padding-top:10px;border-radius:10px 10px 0px 0px;padding-left:20px;padding-bottom:10px;">
           <div style="border-radius:100%;background:#4a7857;width:10px;height:10px;margin-top:10px;"></div>
           <div style="margin-top:-17px;margin-left:20px;color:#4a7857;">{{block.name}}</div>
           <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}/delete_block">&#9746;</a>
           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#block-setting-Modal{{ block.id }}">
            &#9881;
          </button>
       </div>
   </a>
   <div style="margin:10px;">
       <ol style="margin-left:-10px;">
       {%for task in block.tasks.all%}
         <li>{{task.name}}</li>
       {% endfor %}
       </ol>
   </div>
</div>
{% elif block.local == 2 %}
<div style="border:1px solid #f7dc97; margin-top:30px; border-radius:10px;padding-bottom:20px;background:#fafafa;">
   <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}">
       <div style="background:#f7dc97;color:black;padding-top:10px;border-radius:10px 10px 0px 0px;padding-left:20px;padding-bottom:10px;">
           <div style="border-radius:100%;background:#917c44;width:10px;height:10px;margin-top:10px;"></div>
           <div style="margin-top:-17px;margin-left:20px;color:#917c44;">{{block.name}}</div>
           <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}/delete_block">&#9746;</a>
           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#block-setting-Modal{{ block.id }}">
            &#9881;
          </button>
       </div>
   </a>
   <div style="margin:10px;">
       <ol style="margin-left:-10px;">
       {%for task in block.tasks.all%}
         <li>{{task.name}}</li>
       {% endfor %}
       </ol>
   </div>
</div>
{% elif block.local == 3 %}
<div style="border:1px solid #f7dc97; margin-top:30px; border-radius:10px;padding-bottom:20px;background:#fafafa;">
   <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}">
       <div
               style="background:#FFC0CB;color:black;padding-top:10px;border-radius:10px 10px 0px 0px;padding-left:20px;padding-bottom:10px;">
           <div style="border-radius:100%;background:#A60000;width:10px;height:10px;margin-top:10px;"></div>
           <div style="margin-top:-17px;margin-left:20px;color:#A60000;">{{block.name}}</div>
           <a href="/course/{{course.id}}/{{lesson.id}}/{{block.id}}/delete_block">&#9746;</a>
           <button type="button" class="btn btn-info" data-toggle="modal" data-target="#block-setting-Modal{{ block.id }}">
            &#9881;
          </button>
       </div>
   </a>
   <div style="margin:10px;">
       <ol style="margin-left:-10px;">
       {%for task in block.tasks.all%}
         <li>{{task.name}}</li>
       {% endfor %} 
       </ol>
   </div>
</div>
{% endif %}
{% endfor %}
<!-- Button trigger modal -->
<div style="text-align: center;margin-top: 20px;">
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
       Добавить блок
   </button>
</div>  
 <!-- Modal added block tasks-->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Добавить блок</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
           <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
           <div  class="form-group">
             <label for="recipient-name" class="col-form-label">Название:</label>
             <input required type="text" name="name-block" class="form-control" id="recipient-name">
           </div>
           <label for="recipient-name" class="col-form-label">Тип блока</label>
           <select required class="form-select" name="type-block" aria-label="Default select example">
               <option value="1">Классная работа</option>
               <option value="0">Домашняя работа</option>
               <option value="3">Контрольная работа</option>
               <option value="2">Материал</option>
             </select>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
         <button type="submit"  class="btn btn-primary" name="Add-block">Добавить</button>
       </div>
   </form>
     </div>
   </div>
 </div>
 

<!-- Modal change information for lesson-->
 <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Настройки урока</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            Преподаватель
            <select required class="form-select" name="id-teacher-lesson" aria-label="Default select example">
              <option value="{{lesson.teacher.id}}">{{lesson.teacher}}</option>
              {% for teacher in teachers%}
                <option value="{{teacher.id}}">{{teacher}}</option>
              {% endfor %}
            </select>
            <div  class="form-group">
              <label for="recipient-name" class="col-form-label">Название:</label>
              <input type="text" name="name-lesson" class="form-control" id="recipient-name" value="{{lesson.name}}">
            </div>
            <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Дата:</label>
            <input id="datetime" name="date" type="datetime-local" value="{{lesson.date}}">
          </div>
          <div class="form-check">
            {% if lesson.open %}
                    <input type="checkbox" name="open"  checked class="form-check-input" id="exampleCheck1">
            {% else %}
                    <input type="checkbox" name="open" class="form-check-input" id="exampleCheck1">
            {% endif %}
            <label class="form-check-label"  for="exampleCheck1">Открыт</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" name="Settings-lesson">Добавить</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal change information for block-->
{% for block in blocks %}
<div class="modal fade" id="block-setting-Modal{{ block.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Настройки блока</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="block_id" value="{{block.id}}">
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Название:</label>
            <input type="text" name="name-block" class="form-control" id="recipient-name" value="{{block.name}}">
          </div>
          <label for="recipient-name" class="col-form-label">Тип блока</label>
           <select required class="form-select" name="type-block" aria-label="Default select example">
             {%if block.local == 0 %}
             <option value="0">Домашняя работа</option>
             {% elif block.local == 1 %}
              <option value="1">Классная работа</option>
             {% elif block.local == 2 %}
             <option value="2">Материал</option>
             {% else %}
             <option value="3">Контрольная работа</option>
             {% endif %}
               <option value="1">Классная работа</option>
               <option value="0">Домашняя работа</option>
               <option value="3">Контрольная работа</option>
               <option value="2">Материал</option>
             </select>
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Дата старта:</label>
            <input id="datetime" name="date_open" type="datetime-local" value="{{block.date_open}}"><br>{{block.date_open}}
          </div>
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Конец работы:</label>
            <input id="datetime" name="date_part_close" type="datetime-local" value="{{block.date_part_close}}"><br>{{block.date_part_close}}
          </div>
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Дорешка:</label>
            <input id="datetime" name="date_close" type="datetime-local" value="{{block.date_close}}"><br>{{block.date_close}}
          </div>
          <div class="form-check">
            {% if block.open %}
                    <input type="checkbox" name="open"  checked class="form-check-input" id="exampleCheck1">
            {% else %}
                    <input type="checkbox" name="open" class="form-check-input" id="exampleCheck1">
            {% endif %}
            <label class="form-check-label"  for="exampleCheck1">Открыт</label>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" name="Settings-Block">Добавить</button>
      </div>
    </form>
    </div>

  </div>
</div>
{%endfor%}


<!-- Modal added tasks-->
{% for block in blocks %}
<div class="modal fade" id="added-task-Modal{{ block.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Создать задачу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="block_id" value="{{block.id}}">
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Название:</label>
            <input type="text" name="name-block" class="form-control" id="recipient-name">
          </div>
          <div  class="form-group">
            <label for="recipient-name" class="col-form-label">Стоимость:</label>
            <input type="text" name="name-block" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-check">
            {% if block.open %}
                    <input type="checkbox" name="open"  checked class="form-check-input" id="exampleCheck1">
            {% else %}
                    <input type="checkbox" name="open" class="form-check-input" id="exampleCheck1">
            {% endif %}
            <label class="form-check-label"  for="exampleCheck1">Ручная проверка</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Численный ответ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Текст или файл
            </label>
            <div  class="form-group">
              <label for="recipient-name" class="col-form-label">Ответы(через перенос строки):</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit"  class="btn btn-primary" name="Added-Task">Добавить</button>
      </div>
    </form>
    </div>

  </div>
</div>
{%endfor%}

