{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block extended_content %}
<div class="container">
    <div style="border: 1px solid black;">
        <h3>Ближайщее занятие</h3>
        <div>Блок 1 - время до завершения - </div>
    </div>
    <br>
    <div style="border: 1px solid black;">
        <h3>Блоки по времени</h3>
        <div>Блок 1 - время до завершения - </div>
        <hr>
        <div>Блок 1</div><hr>
        <div>Блок 1</div><hr>
        <div>Блок 1</div><hr>
        <div>Блок 1</div>
        {% for i in blocks%}
            {i}
        {%endfor%}
    </div>
</div>
{% endblock %}